.main-pane {
    -fx-background-color: #ffe9ea;
}

.bar-chart.main-pane {
    -fx-background-color: #ffe9ea;
}

.vbox.main-pane {
    -fx-background-color: #ffe9ea;
}

.manual-pane {
    -fx-background-color:#ffe9ea;
}

.dragdrop-pane {
    -fx-background-color: #ffe9ea;
}

.dragdrop-title {
    -fx-font-size: 18px;
    -fx-font-weight: bold;
    -fx-text-fill: #a55a66;
}

.drop-zone {
    -fx-border-color: #f7c6c7;
    -fx-border-style: dashed;
    -fx-padding: 60;
    -fx-alignment: center;
    -fx-background-color: white;
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(247,198,199,0.2), 10, 0, 0, 4);
}

.drop-zone-active {
    -fx-border-color: #f7a1a3;
    -fx-border-style: solid;
    -fx-background-color: #ffe9ea;
    -fx-border-radius: 12;
    -fx-background-radius: 12;
    -fx-effect: dropshadow(gaussian, rgba(247,161,163,0.4), 15, 0, 0, 6);
}

.drop-label {
    -fx-text-fill: #bb8891;
    -fx-font-size: 16px;
}

.file-list {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-color: #f7c6c7;
    -fx-background-color: #fff0f2;
}

.primary-button {
    -fx-background-color: #f8c6cb;
    -fx-text-fill: #6a353f;
    -fx-font-weight: bold;
    -fx-background-radius: 10;
    -fx-padding: 8 20 8 20;
    -fx-font-size: 14px;
}

.text-field, .password-field {
    -fx-padding: 8px;
    -fx-background-color: #ffffff;
    -fx-border-radius: 5px;
    -fx-font-length: 14px;
}